In [1]:
# Imports
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
car_sales = pd.read_csv("Data/car-sales-extended-missing-data.csv")
car_sales.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [3]:
# String -> Numbers
dummies = pd.get_dummies(car_sales[["Make", "Colour"]])
dummies

,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,False,True,False,False,False,False,False,False,True
1,True,False,False,False,False,True,False,False,False
2,False,True,False,False,False,False,False,False,True
3,False,False,False,True,False,False,False,False,True
4,False,False,True,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...
995,False,False,False,True,True,False,False,False,False
996,False,False,False,False,False,False,False,False,True
997,False,False,True,False,False,True,False,False,False
998,False,True,False,False,False,False,False,False,True
999,False,False,False,True,False,True,False,False,False