In [1]:
# Imports
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
car_sales = pd.read_csv("Data/car-sales-extended-missing-data.csv")
car_sales.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [3]:
# We have missing data!
car_sales.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [4]:
# We can implement data
car_sales["Make"] = car_sales["Make"].fillna("missing")
car_sales["Colour"] = car_sales["Colour"].fillna("missing")
car_sales["Odometer (KM)"] = car_sales["Odometer (KM)"].fillna(0)
car_sales["Doors"] = car_sales["Doors"].fillna(0)

In [5]:
# We can delete rows with missing data
car_sales.dropna(inplace=True)

In [6]:
car_sales.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [7]:
len(car_sales)

950