In [1]:
# Imports
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
heart_disease = pd.read_csv("Data/heart-disease.csv")
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [3]:
len(heart_disease)

303

In [5]:
x = heart_disease.drop("target", axis=1)
y = heart_disease["target"]

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [10]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
clf.fit(x_train, y_train)
clf.predict(x_test)

array([1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1])

In [11]:
clf.predict_proba(x_test)

array([[0.04, 0.96],
       [0.56, 0.44],
       [0.91, 0.09],
       [0.31, 0.69],
       [0.96, 0.04],
       [0.22, 0.78],
       [0.04, 0.96],
       [0.01, 0.99],
       [0.39, 0.61],
       [0.89, 0.11],
       [0.77, 0.23],
       [0.58, 0.42],
       [0.02, 0.98],
       [0.02, 0.98],
       [0.03, 0.97],
       [0.47, 0.53],
       [0.91, 0.09],
       [0.12, 0.88],
       [0.58, 0.42],
       [0.9 , 0.1 ],
       [0.1 , 0.9 ],
       [0.22, 0.78],
       [0.56, 0.44],
       [0.77, 0.23],
       [0.02, 0.98],
       [0.97, 0.03],
       [0.33, 0.67],
       [0.92, 0.08],
       [0.08, 0.92],
       [0.96, 0.04],
       [0.06, 0.94],
       [0.35, 0.65],
       [0.9 , 0.1 ],
       [0.48, 0.52],
       [0.75, 0.25],
       [0.15, 0.85],
       [0.16, 0.84],
       [0.03, 0.97],
       [0.13, 0.87],
       [0.64, 0.36],
       [0.84, 0.16],
       [0.86, 0.14],
       [0.25, 0.75],
       [0.15, 0.85],
       [0.09, 0.91],
       [0.55, 0.45],
       [0.39, 0.61],
       [0.22, 0.78],
       [0.99, 0.01],
       [1.  , 0.  ],
       [0.4 , 0.6 ],
       [0.85, 0.15],
       [1.  , 0.  ],
       [0.98, 0.02],
       [0.25, 0.75],
       [0.02, 0.98],
       [0.34, 0.66],
       [0.9 , 0.1 ],
       [0.31, 0.69],
       [0.57, 0.43],
       [0.23, 0.77]])

In [13]:
clf.score(x_test, y_test)

0.8688524590163934