In [1]:
import pandas as pd

In [2]:
car_sales = pd.read_csv("Data/car-sales-missing-data.csv")
print(car_sales)

     Make Colour  Odometer  Doors    Price
0  Toyota  White  150043.0    4.0   $4,000
1   Honda    Red   87899.0    4.0   $5,000
2  Toyota   Blue       NaN    3.0   $7,000
3     BMW  Black   11179.0    5.0  $22,000
4  Nissan  White  213095.0    4.0   $3,500
5  Toyota  Green       NaN    4.0   $4,500
6   Honda    NaN       NaN    4.0   $7,500
7   Honda   Blue       NaN    4.0      NaN
8  Toyota  White   60000.0    NaN      NaN
9     NaN  White   31600.0    4.0   $9,700

In [3]:
car_sales["Make"] = car_sales["Make"].str.lower()
print(car_sales)

     Make Colour  Odometer  Doors    Price
0  toyota  White  150043.0    4.0   $4,000
1   honda    Red   87899.0    4.0   $5,000
2  toyota   Blue       NaN    3.0   $7,000
3     bmw  Black   11179.0    5.0  $22,000
4  nissan  White  213095.0    4.0   $3,500
5  toyota  Green       NaN    4.0   $4,500
6   honda    NaN       NaN    4.0   $7,500
7   honda   Blue       NaN    4.0      NaN
8  toyota  White   60000.0    NaN      NaN
9     NaN  White   31600.0    4.0   $9,700

In [4]:
## Filling blank spots
car_sales["Odometer"] = car_sales["Odometer"].fillna(0)
print(car_sales)

     Make Colour  Odometer  Doors    Price
0  toyota  White  150043.0    4.0   $4,000
1   honda    Red   87899.0    4.0   $5,000
2  toyota   Blue       0.0    3.0   $7,000
3     bmw  Black   11179.0    5.0  $22,000
4  nissan  White  213095.0    4.0   $3,500
5  toyota  Green       0.0    4.0   $4,500
6   honda    NaN       0.0    4.0   $7,500
7   honda   Blue       0.0    4.0      NaN
8  toyota  White   60000.0    NaN      NaN
9     NaN  White   31600.0    4.0   $9,700

In [5]:
## Deliting rows, where is NAN
car_sales = car_sales.dropna()
print(car_sales)

     Make Colour  Odometer  Doors    Price
0  toyota  White  150043.0    4.0   $4,000
1   honda    Red   87899.0    4.0   $5,000
2  toyota   Blue       0.0    3.0   $7,000
3     bmw  Black   11179.0    5.0  $22,000
4  nissan  White  213095.0    4.0   $3,500
5  toyota  Green       0.0    4.0   $4,500

In [6]:
## Adding column
car_sales["Seats"] = [5, 5, 5, 5, 5, 5]
print(car_sales)

     Make Colour  Odometer  Doors    Price  Seats
0  toyota  White  150043.0    4.0   $4,000      5
1   honda    Red   87899.0    4.0   $5,000      5
2  toyota   Blue       0.0    3.0   $7,000      5
3     bmw  Black   11179.0    5.0  $22,000      5
4  nissan  White  213095.0    4.0   $3,500      5
5  toyota  Green       0.0    4.0   $4,500      5

In [7]:
# Deleting column
del car_sales["Seats"]
print(car_sales)

     Make Colour  Odometer  Doors    Price
0  toyota  White  150043.0    4.0   $4,000
1   honda    Red   87899.0    4.0   $5,000
2  toyota   Blue       0.0    3.0   $7,000
3     bmw  Black   11179.0    5.0  $22,000
4  nissan  White  213095.0    4.0   $3,500
5  toyota  Green       0.0    4.0   $4,500

In [8]:
# Random samples from data (50% of all)
shuffled_car_sales = car_sales.sample(frac=0.5)
print(shuffled_car_sales)

     Make Colour  Odometer  Doors    Price
5  toyota  Green       0.0    4.0   $4,500
3     bmw  Black   11179.0    5.0  $22,000
4  nissan  White  213095.0    4.0   $3,500

In [9]:
# Sorting indexes
shuffled_car_sales = shuffled_car_sales.reset_index(drop=True)
print(shuffled_car_sales)

     Make Colour  Odometer  Doors    Price
0  toyota  Green       0.0    4.0   $4,500
1     bmw  Black   11179.0    5.0  $22,000
2  nissan  White  213095.0    4.0   $3,500

In [10]:
# Changes Kilometers to Miles
car_sales["Odometer"] = car_sales["Odometer"].apply(lambda x:x / 1.6)
print(car_sales)

     Make Colour    Odometer  Doors    Price
0  toyota  White   93776.875    4.0   $4,000
1   honda    Red   54936.875    4.0   $5,000
2  toyota   Blue       0.000    3.0   $7,000
3     bmw  Black    6986.875    5.0  $22,000
4  nissan  White  133184.375    4.0   $3,500
5  toyota  Green       0.000    4.0   $4,500